{% assign current_url = page.url | remove: '.html' | remove: '/' | downcase %}

<aside class="menu">
  {% for menu in site.data[page.menubar] %}
    <p class="menu-label">{{ menu.label }}</p>
    <ul class="menu-list">
      {% for category in menu.items %}
        {% assign category_url = category.link | remove: '.html' | remove: '/' | downcase %}
        <li>
          <a href="{{ category.link | relative_url }}"
             class="{% if current_url == category_url %}is-active{% endif %}">
            {{ category.name }}
          </a>
          {% if category.items %}
            {% if current_url contains category_url %}
              <ul>
                {% for topic in category.items %}
                  {% assign topic_url = topic.link | remove: '.html' | remove: '/' | downcase %}
                  <li>
                    <a href="{{ topic.link | relative_url }}"
                       class="{% if current_url == topic_url %}is-active{% endif %}">
                      {{ topic.name }}
                    </a>
                    {% if topic.items %}
                      {% if current_url contains topic_url %}
                        <ul>
                          {% for note in topic.items %}
                            {% assign note_url = note.link | remove: '.html' | remove: '/' | downcase %}
                            <li>
                              <a href="{{ note.link | relative_url }}"
                                 class="{% if current_url == note_url %}is-active has-background-primary-light has-text-black{% endif %}">
                                {{ note.name }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</aside>
