html {
    height: 100%;
}

body{
    background:ghostwhite;
    font-family: sans-serif;
    height: 100%;
}

.FullHeight {
    min-height: 100vh;
}

#Banner{
    background:whitesmoke;
    border-bottom: crimson double 2px;
}


#Date {
    font-size: 0.875rem;
}

#MyNav nav a:link, #MyNav nav a:visited{
    color:#004a87;
    text-decoration: none;
}


#MyNav nav a:hover {
    color:black;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#MyNav nav a.active {
    color: black;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#MyNav{
    background:whitesmoke;
    border-right: crimson double 2px;
}

#Body .row{
    background:whitesmoke;
}

ul {
    padding-inline-start: 2.5rem;
}

@media (max-width: 445px) {
    html {
        font-size: 10px;
    }
    ul {
        padding-inline-start: 1.8rem;
    }
}

@media (max-width:767px) {
    #MyNav
    {
        background:whitesmoke;
        border-right: 0;
        border-bottom: crimson double 2px;
    }
    #MyNav nav a:hover {
        color:black;
        border-top: 0;
        border-bottom: 0;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
    }

    #MyNav nav a.active {
        color: black;
        border-top: 0;
        border-bottom: 0;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
    }
}

#Content {
    background:whitesmoke;
}

#Content h5{
    margin-left: -0.7rem;
    font-weight: bold;
}

#Content h6{
    font-weight: bold;
}

#Content b{
    font-weight: 600;
}